@media (min-width: 1440px) {
    .container {
        width: 1400px;
    }
}

@media (min-width: 1696px) {
    .container {
        width: 1646px;
    }
}

.tabDetail_left td {
    word-break: break-all;
}

.tabDetail_right td {
    word-break: break-all;
}

.subTable td {
    word-break: break-all;
}

.table {
    margin-bottom: 0;
}

.well {
    margin-bottom: 0;
}

.objName {
    font-size: 1.3em;
    padding-right: 10px;
}

.count {
    font-size: 1.3em;
    float: right;
}

.tabDetail {
    padding: 0;
}

.tabDetail_left {
    display: inline-block;
    width: 40%;
}

    .tabDetail_left > tbody > tr > td:first-child {
        padding: 0 10px;
        font-weight: bold;
        text-align: right;
    }

    .tabDetail_left > tbody > tr > td:last-child {
        text-align: left;
    }

.tabDetail_right {
    width: 60%;
    float: right
}

.cus_panel-heading {
    color: #333;
    background-color: #f5f5f5;
}

.subTable > tbody > tr > td:nth-child(1), .subTable > thead > tr > th:nth-child(1) {
    max-width: 65px
}

.subTable > tbody > tr > td:nth-child(2), .subTable > thead > tr > th:nth-child(2) {
    max-width: 70px
}

.subTable > tbody > tr > td:nth-child(3), .subTable > thead > tr > th:nth-child(3) {
    max-width: 50px
}

.subTable > tbody > tr > td:nth-child(4), .subTable > thead > tr > th:nth-child(4) {
    max-width: 30px
}

.subTable > tbody > tr > td:nth-child(5), .subTable > thead > tr > th:nth-child(5) {
    max-width: 30px
}

.subTable > tbody > tr > td:nth-child(6), .subTable > thead > tr > th:nth-child(6) {
    max-width: 40px
}

.subTable > tbody > tr > td:nth-child(7), .subTable > thead > tr > th:nth-child(7) {
    max-width: 30px
}

.subTable > tbody > tr > td:nth-child(8), .subTable > thead > tr > th:nth-child(8) {
    max-width: 40px
}

.subTable > tbody > tr > td:nth-child(9), .subTable > thead > tr > th:nth-child(9) {
    max-width: 250px
}

.tabMS_Description {
    width: 60%;
    display: inline
}

.NoteField {
    color: royalblue;
    font: bold;
}

.indexes > td {
    padding: 0 !important;
}

    .indexes > td > table {
        background-color: #f5f5f5 !important;
    }

        .indexes > td > table > tbody > tr > td, .indexes > td > table > thead > tr > th {
            border-style: solid;
            border-width: 1px 0px 0px 1px;
            border-color: #ddd;
        }

            .indexes > td > table > tbody > tr > td:nth-child(1), .indexes > td > table > thead > tr > th:nth-child(1) {
                border-width: 1px 0px 0px 0px;
            }

.search > .form-group-lg {
    margin-right: 10px;
}